<!--Pannello di titolo Componente Plot-->
<div class="panel panel-default col-lg-12 header-title">
    <h2>Plot Analysis</h2>
</div>
<!--Pannello contenente la lista di utenti-->
<div class="panel panel-default col-lg-2">
    <div class="panel-heading">Users</div>
    <div class="panel-body">
        <user-list-plot (onSelectUser)="onSelectedUser($event)">Loading...</user-list-plot>
    </div>
</div>
<!--Pannello contenente la lista di oggetti-->
<!--Mostrato solo se l'utente viene selezionato, cambia per ogni utente-->
<div *ngIf="selectedUser" class="panel panel-default col-lg-2">
    <div class="panel-heading">Object for selected user</div>
    <div class="panel-body">
        <object-list-plot [user]="selectedUser" (onSelectedObject)="onSelectedObject($event)"
                          (onSelectedPlotta)="onSelectedPlotta($event)">Loading...
        </object-list-plot>
    </div>
</div>
<p-growl [value]="message_error"></p-growl>
<dynamic-component *ngIf="selectedObject" [componentData]="componentData">Loading...</dynamic-component>