<div class="panel panel-default col-lg-12 header-title">
    <h2>Plot Analysis</h2>
</div>
<div class="panel panel-default col-lg-2">
    <div class="panel-heading">Users</div>
    <div class="panel-body">
        <user-list-plot (onSelectUser)="onSelectedUser($event)"></user-list-plot>
    </div>
</div>
<div *ngIf="selectedUser" class="panel panel-default col-lg-2" >
    <div class="panel-heading">Object for selected user</div>
    <div class="panel-body">
        <object-list-plot [user]="selectedUser" (onSelectedObject)="onSelectedObject($event)"
                          (onSelectedPlotta)="onSelectedPlotta($event)"></object-list-plot>
    </div>
</div>
<dynamic-component *ngIf="selectedObject" [componentData]="componentData"></dynamic-component>