<div class="panel panel-default col-lg-2">
    <div class="panel-body">
        <user-list-plot (onSelectUser)="onSelectedUser($event)"></user-list-plot>
    </div>
</div>
<div *ngIf="selectedUser" class="panel panel-default col-lg-2">
    <div class="panel-body">
        <object-list-plot [user]="selectedUser" (onSelectedObject)="onSelectedObject($event)"
                          (onSelectedPlotta)="onSelectedPlotta($event)"></object-list-plot>
    </div>
</div>
<!--<div *ngIf="selectedPlotta" class="panel panel-default col-lg-8" >-->
<!--<div class="panel-body">-->
<!--<chart [selectedUser]="selectedUser" [selectedObject]="selectedObject" ></chart>-->
<!--</div>-->
<!--</div>-->

<dynamic-component [componentData]="componentData"></dynamic-component>