<div [@visibilityChanged]="visibility" class="panel panel-default col-lg-8" style="padding-left: 0;padding-right: 0">
    <div class="panel-heading">Grafico rappresentante l'oggetto {{selectedObject.nome_oggetto}} riferito all'utente
        {{selectedUser.nome_user}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div style="display: block;">
                    <canvas #Chart baseChart
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>

                <p-growl [value]="message_ok"></p-growl>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="myLoading" style="margin-top: 10px; margin-bottom: 10px">
                <button (click)="loadCSV()" class="btn btn-primary"
                        style="background-color: #337AB7" data-size="s">Download CSV Valori
                </button>
            </div>

            <div>
                <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="chartMin" [max]="chartMax"
                          (onChange)="onChange($event)"></p-slider>
            </div>

            <div><h4 style="float: left;">Range:
                {{lineChartLabelsTotal[rangeValues[0]]}}</h4><h4 style="float: right;">
                {{lineChartLabelsTotal[rangeValues[1]]}}</h4></div>
        </div>
    </div>
</div>
