
.panel-heading {
    text-align: center;
}

.col-lg-2 {
    padding-left: 0;
    padding-right: 0;
}

.table th {
    text-align: center;
}

body {
    padding-top: 60px;
}

.ui-growl {
    padding-top: 60px;
}

.list-group {
    max-height: 50vh;
    overflow: auto
}

.double-list {
    max-height: 25vh !important;
}

p-dataTable {
    text-align: center;
}

.header-title {
    text-align: center;
}

p-dataTable .col-button {
    width: 15%;
}