<div [@visibilityChanged]="visibility" style="text-align: center;" class="col-lg-3"></div>
<div [@visibilityChanged]="visibility" style="text-align: center;" class="col-lg-6">
    <h3>{{upload_text}}</h3>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input [(ngModel)]="nome_user" type="text" class="form-control" placeholder="Username"
               aria-describedby="basic-addon1" (keyup)="controlUserObjects($event)">
        <input [(ngModel)]="nome_oggetto" type="text" class="form-control" placeholder="Nome oggetto"
               aria-describedby="sizing-addon1" (keyup)="controlUserObjects($event)">
    </div>
    <p-messages [value]="msgs"></p-messages>
    <div [ngStyle]="{'display': disabled ? 'none' : 'block'}">
        <p-fileUpload name="file[]" accept=".csv" maxFileSize="1000000" [disabled]="disabled ? true : null"
                      url="https://awdapi.herokuapp.com/uploadCSV" (onBeforeUpload)="onBeforeUpload($event)"
                      (onUpload)="onUpload($event)" (onError)="onError($event)"></p-fileUpload>
    </div>
</div>
<p-growl [value]="message_success"></p-growl>
<div [@visibilityChanged]="visibility" style="text-align: center;" class="col-lg-3"></div>