<div *ngIf="user">
    <form id="filter">
        <label style="width: 100%; text-align: center">Filter by name:</label>
        <input style="width: 100%;" type="text" [(ngModel)]="daFiltrare" pTooltip="Inserisci username da filtrare"
               [ngModelOptions]="{standalone: true}"/>
    </form>
    <ul class="list-group">
        <a class="list-group-item" *ngFor="let object of user.oggetti|filter:daFiltrare" (click)="onSelect(object)"
           [class.active]="object === selectedObject">
            {{object.nome_oggetto}}
        </a>
    </ul>
</div>
<button *ngIf="selectedObject" (click)="clickedAnalizza()" [ladda]='isLoading' style="background-color: #337AB7" data-size="s" class="btn btn-primary">Analizza</button>