<div *ngIf="user">
    <form id="filter">
        <label style="width: 100%; text-align: center">Filter:</label>
        <input style="width: 100%;" type="text" [(ngModel)]="daFiltrare" pTooltip="Inserisci oggetto da filtrare"
               [ngModelOptions]="{standalone: true}"/>
    </form>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let object of user.oggetti|filter:daFiltrare" (click)="onSelect(object)"
            [class.active]="object === selectedObject">
            {{object.nome_oggetto}}
        </li>
    </ul>
</div>
<button *ngIf="user.oggetti.indexOf(selectedObject)>-1" (click)="clickedAnalizza()" [ladda]='isLoading'
        style="background-color: #337AB7" data-size="s" class="btn btn-primary">Analizza
</button>
<p-messages [value]="msgs"></p-messages>
<div class="myLoading">
    <button *ngIf="error" (click)="reLoad()" class="btn btn-primary"
            style="background-color: #337AB7" data-size="s">Reload
    </button>
</div>