<div class="panel panel-default col-lg-12 header-title">
    <h2>Single Correlation Analysis</h2>
</div>
<div class="panel panel-default col-lg-2">
    <div class="panel-heading">Users</div>
    <div class="panel-body">
        <user-list-ans-plot [users]="users" (onSelectedUser)="onSelectedUser($event)">
            Loading...
        </user-list-ans-plot>
    </div>
</div>

<div *ngIf="selectedUser" class="panel panel-default col-lg-2">
    <div class="panel-heading">Oggetti riferiti a {{selectedUser.nome_user}}</div>
    <div class="panel-body">
        <object-list-ans-plot [user]="selectedUser" (onSelectedObject)="onSelectedObject($event)"
                              [isLoading]="isLoading"
                              (onSelectedAnalizza)="onSelectedAnalizza($event)" (onReload)="onReload($event)">
            Loading...
        </object-list-ans-plot>
    </div>
</div>
<dynamic-ans-component [componentData]="componentData">
    Loading...
</dynamic-ans-component>
<p-growl [value]="message_error"></p-growl>