<p-dataTable [value]="dati">
    <p-column field="colonne" header="Colonne da analizzare"></p-column>
    <p-column styleClass="col-button">
        <template let-colonna="rowData" pTemplate type="body">
            <button type="button" pButton (click)="selectColumnRemove(colonna)" icon="fa-minus">
            </button>
        </template>
    </p-column>
</p-dataTable>
<p-dataTable [value]="deleted">
    <p-column field="colonne" header="Colonne eliminate"></p-column>
    <p-column styleClass="col-button" >
        <template let-colonna="rowData" pTemplate type="body">
            <button type="button" pButton (click)="selectColumnAdd(colonna)" icon="fa-plus">
            </button>
        </template>
    </p-column>
</p-dataTable>