<!DOCTYPE html>
<meta charset="utf-8">
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--collapsed-->
                <button type="button" class="navbar-toggle " data-toggle="collapse"
                        data-target="#myNavbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/home">Data analysis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li [ngClass]="{'active': isPlotActive }" (click)="activatePlot()"><a routerLink="/plot">Plotta
                    </a></li>

                    <li [ngClass]="{'active': isDropdownActive }" class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Analisi correlazione <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li [ngClass]="{'active': isAnalisisActive }" (click)="activateAnalisi1()"><a
                                    routerLink="/analisi">Analisi singola</a></li>
                            <li role="separator" class="divider"></li>
                            <li routerLink="/analisi_multipla" [ngClass]="{'active': isAnalisimActive }"
                                (click)="activateAnalisi2()"><a>Analisi
                                multipla</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<section id="main" style="height: 90vh;">
    <router-outlet></router-outlet>
</section>