<form id="filter">
    <label style="width: 100%; text-align: center">Filter:</label>
    <input style="width: 100%;" type="text" [(ngModel)]="daFiltrare" pTooltip="Inserisci username da filtrare"
           [ngModelOptions]="{standalone: true}"/>
</form>
<ul class="list-group ">
    <li class="list-group-item" *ngFor="let user of users|filter:daFiltrare" (click)="onSelect(user)"
        [class.active]="user === selectedUser">
        <span style="background-color: #337AB7" class="badge">{{user.oggetti.length}}</span>
        {{user.nome_user}}
    </li>
</ul>


