<div [@visibilityChanged]="visibility" [ngBusy]="busy" class="panel panel-default col-lg-8">
    <div class="panel-heading">Tabella di correlazione riferita all'oggetto {{selectedObject.nome_oggetto}} dell'utente
        {{selectedUser.nome_user}} calcolato sulle date {{data_min_calc}} e {{data_max_calc}}
    </div>
    <div class="panel-body">
        <div class="col-lg-8" style="text-align:center;">
            <div id="container">
            </div>
            <table class="table table-responsive table-bordered">
                <tr class="active">
                    <th>
                        #
                    </th>
                    <th *ngFor="let nome_colonna of nomi_colonne; let i = index">
                        {{nome_colonna}}
                    </th>
                </tr>
                <tr *ngFor="let riga of righe;let i=index">
                    <td class="active">
                        <b>{{nomi_colonne[i]}}</b>
                    </td>
                    <td *ngFor="let colonna of riga">
                        {{colonna.toString()}}
                    </td>
                </tr>
            </table>
            <button (click)="loadCSV()" class="btn btn-primary"
                    style="background-color: #337AB7" data-size="s">Download CSV
            </button>
        </div>
        <div *ngIf="loaded" class="col-lg-4">
            <correlation-table-columans [nomi_colonne]="nomi_colonne"
                                        (onSelectedColumnAdd)="onSelectedColumnAdd($event)"></correlation-table-columans>
        </div>

        <br>
        <div style="margin-top: 35px;" *ngIf="loaded" class="col-lg-12">

            <div>
                <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="chartMin" [max]="chartMax"
                          (onChange)="onChange($event)" (onSlideEnd)="onSlideEnd($event)"></p-slider>
            </div>
            <br>
            <div><h4 style="float: left;">Range: {{timestampsTotal[rangeValues[0]]}}</h4><h4 style="float: right;">
                {{timestampsTotal[rangeValues[1]]}}</h4></div>
        </div>
    </div>
</div>
