<div class="panel panel-default col-lg-12 header-title">
    <h2>Multiple Correlation Analysis</h2>
</div>
<div class="panel panel-default col-lg-2">
    <div class="panel-heading">Oggetti</div>
    <div class="panel-body" *ngIf="objects">
        <object-list-mul-plot [objects]="objects" (onSelectedObject)="onSelectedObject($event)"></object-list-mul-plot>
    </div>
</div>
<div class="col-lg-2">
    <div *ngIf="columns" class="panel panel-default ">
        <div class="panel-heading">Attributi dell'oggetto {{selectedObject.nome_oggetto}}</div>
        <div class="panel-body">
            <column-list-mul-plot [columns]="columns"
                                  (onSelectedColumn)="onSelectedColumn($event)"></column-list-mul-plot>
        </div>
    </div>

    <div *ngIf="users" class="panel panel-default">
        <div class="panel-heading">Users aventi l'oggetto {{selectedObject.nome_oggetto}}</div>
        <div class="panel-body">
            <user-list-an-mul [selColumn]="selectedColumn" [users]="users"
                              (onInvia)="onInvia($event)"></user-list-an-mul>
        </div>
    </div>
</div>
<div *ngIf="componentData" style="text-align: center" class="panel panel-default col-lg-8">
    <div class="panel-body">
        <div>
            <h1>Nuova anlisi</h1>
            <div class="col-lg-6">
                <div>Data inizio</div>
                <p-calendar [minDate]="minDateValue" [maxDate]="maxDateValue" dateFormat="dd/mm/yy"
                            [(ngModel)]="data_min"></p-calendar>
            </div>
            <div class="col-lg-6">
                <div>Data fine</div>
                <p-calendar [minDate]="minDateValue" [maxDate]="maxDateValue" dateFormat="dd/mm/yy"
                            [(ngModel)]="data_max"></p-calendar>
            </div>
        </div>
        <br>
        <br>
        <div>
            <button (click)="aggiornaDate()"
                    class="btn btn-primary">
                Invia richiesta
            </button>
        </div>
    </div>
</div>
<dynamic-anm-component [componentData]="componentData"
></dynamic-anm-component>