<div class="panel panel-default col-lg-12 header-title">
    <h2>Multiple Correlation Analysis</h2>
</div>
<div class="panel panel-default col-lg-2">
    <div class="panel-heading">Oggetti</div>
    <div class="panel-body" *ngIf="!objects">
        <div class="myLoading"><img *ngIf="isLoading" src="../../public/loading_small_1.gif"></div>
    </div>
    <div class="panel-body" *ngIf="objects">
        <object-list-mul-plot [objects]="objects" [msgs]="msgs" [isLoading]="isLoading"
                              (changedObject)="changedObject($event)"
                              (onSelectedObject)="onSelectedObject($event)"
                              (reload)="reload($event)">
            <div class="myLoading"><img *ngIf="isLoading" src="../../public/loading_small_1.gif"></div>
        </object-list-mul-plot>
    </div>
</div>
<div class="col-lg-2">
    <div *ngIf="(objectSended&&selectedObject==objectSended)&&!isLoading&&!error" class="panel panel-default"
         style="margin-bottom: 0">
        <div class="panel-heading">Attributi dell'oggetto {{selectedObject.nome_oggetto}}</div>
        <div class="panel-body">
            <column-list-mul-plot [columns]="columns"
                                  (onSelectedColumn)="onSelectedColumn($event)">
                <div class="myLoading"><img *ngIf="isLoading" src="../../public/loading_small_1.gif"></div>
            </column-list-mul-plot>
        </div>
    </div>
    <div *ngIf="(objectSended&&selectedObject==objectSended)&&!isLoading&&!error" class="panel panel-default">
        <div class="panel-heading">Users aventi l'oggetto {{selectedObject.nome_oggetto}}</div>
        <div class="panel-body">
            <user-list-an-mul [isLoadingAnalisi]="isLoadingAnalisi" [selectedColumn]="selectedColumn" [users]="users"
                              (onInvia)="onInvia($event)">
                <div class="myLoading"><img *ngIf="isLoading" src="../../public/loading_small_1.gif"></div>
            </user-list-an-mul>
        </div>
    </div>
</div>
<div *ngIf="componentData&&!isLoading">
    <dynamic-anm-component [componentData]="componentData"
    ></dynamic-anm-component>
</div>
<div [ngStyle]="{'opacity':opacity}" *ngIf="componentData&&!isLoading" style="text-align: center"
     class="panel panel-default col-lg-8">
    <div class="panel-heading">Nuova anlisi - Seleziona le date di riferimento</div>
    <div class="panel-body">
        <div style="margin-top: 35px;" class="col-lg-12">

            <div>
                <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="chartMin" [max]="chartMax"
                          (onChange)="onChange($event)" (onSlideEnd)="onSlideEnd($event)"></p-slider>
            </div>
            <br>
            <div><h4 style="float: left;">Range: {{timestampsTotal[rangeValues[0]]}}</h4><h4 style="float: right;">
                {{timestampsTotal[rangeValues[1]]}}</h4></div>
        </div>
    </div>
</div>
<p-growl [value]="message_error"></p-growl>
