<form id="filter">
    <label style="width: 100%; text-align: center">Filter:</label>
    <input style="width: 100%;" type="text" [(ngModel)]="daFiltrare" [ngModelOptions]="{standalone: true}"/>
</form>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users|filter:daFiltrare" (click)="onSelect(user)"
        [class.active]="user === selectedUser">
        <span style="background-color: #337AB7" class="badge">{{user.oggetti.length}}</span>
        {{user.nome_user}}
    </li>
</ul>
<div class="myLoading"><img *ngIf="!users&&!(error&&!itsFirst)" src="../../public/loading_small_1.gif"></div>
<div *ngIf="error&&!itsFirst" class="myLoading">
    <p-messages [value]="msgs"></p-messages>
    <button *ngIf="error" (click)="reLoad()" class="btn btn-primary"
            style="background-color: #337AB7" data-size="s">Reload
    </button>
</div>


