<div *ngIf="users">
    <ul class="list-group double-list">
        <form id="filter">
            <label>Filter by name:</label>
            <input type="text" [(ngModel)]="daFiltrare" [ngModelOptions]="{standalone: true}"/>
        </form>
        <a class="list-group-item" *ngFor="let user of users|filter:daFiltrare" (click)="onSelect(user)"
           [class.active]="selectedUsers.indexOf(user)>=0">
            {{user.nome_user}}
        </a>
    </ul>
</div>
<button *ngIf="selectedUsers.length>0" (click)="clickedInvia()"
        class="btn btn-primary">
    Invia
</button>