<div *ngIf="users">
    <form id="filter">
        <label style="width: 100%; text-align: center">Filter by name:</label>
        <input style="width: 100%;" type="text" [(ngModel)]="daFiltrare" [ngModelOptions]="{standalone: true}"/>
    </form>
    <ul class="list-group double-list">

        <a class="list-group-item" *ngFor="let user of users|filter:daFiltrare" (click)="onSelect(user)"
           [class.active]="selectedUsers.indexOf(user)>=0">
            {{user.nome_user}}
        </a>
    </ul>
</div>
<button [ladda]="isLoading" style="background-color: #337AB7;" data-size="s"
        *ngIf="selectedUsers.length>0" (click)="clickedInvia()">
    Invia
</button>